<header class="header-container">

  <div class="header-left"> <!--
    <button *ngIf="showBackButton" (click)="goBack()" class="back-button">
      ❮
    </button>-->

    <span class="greeting">
      Bienvenido, Paco 👋
    </span>
  </div>

  <div class="header-center">
    <h2 class="logo-text">WishDish</h2>
  </div>

  <div class="header-right">

    <button class="icon-button" title="Activar modo oscuro">
      🌙
    </button>

    <div class="language-selector">
      <img src="/header/flags/spain.svg" alt="ES" class="flag-icon">
      <span class="lang-text">ES</span>
      <span class="arrow-down">▼</span>
    </div>

  </div>

</header>
