<header class="header-container">

  <div class="header-left">
    <button *ngIf="showBackButton" (click)="goBack()" class="back-button">
      ❮
    </button>

    <span class="greeting">
      {{ 'HEADER.WELCOME' | translate }}, {{ userName }} 👋
    </span>
  </div>

  <div class="header-center">
    <div class="logo-wrapper">
      <img src="/header/logo.png" alt="WishDish-logo" class="logo-image">
    </div>
  </div>

  <div class="header-right">

    <button class="icon-button theme-toggle-btn" (click)="toggleDarkMode()" [title]="isDarkMode ? 'Modo Claro' : 'Modo Oscuro'">
      <img
        [src]="isDarkMode ? '/header/light-sun.svg' : '/header/dark-moon.svg'"
        alt="DarkModeButton"
        class="theme-icon"
        [class.rotate]="isDarkMode">
    </button>

    <div class="language-dropdown-container">

      <div class="language-selector" (click)="toggleLangMenu()">
        <img [src]="currentLang.flag" [alt]="currentLang.name" class="flag-icon">
        <span class="lang-text">{{ currentLang.name }}</span>
        <span class="arrow-down">▼</span>
      </div>

      <ul class="dropdown-menu" *ngIf="isLangMenuOpen">
        <li *ngFor="let lang of languages" (click)="changeLanguage(lang)" class="dropdown-item">
          <img [src]="lang.flag" [alt]="lang.name" class="flag-icon">
          <span>{{ lang.name }}</span>
        </li>
      </ul>

    </div>

  </div>

</header>
