<div class="login-wrapper">

  <h2 class="login-title">
    {{ 'LOGIN.LOGIN' | translate }}
  </h2>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div class="input-group">
    <label>{{ 'LOGIN.EMAIL' | translate }}</label>
    <input
      type="email"
      [(ngModel)]="email"
      class="input-field"
      placeholder="{{ 'LOGIN.EMAIL_PLACEHOLDER' | translate }}">
  </div>

  <div class="input-group" style="margin-bottom: 25px;">
    <label>{{ 'LOGIN.PASSWORD' | translate }}</label>
    <div class="password-wrapper">
      <input
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        class="input-field"
        [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate">

      <button class="eye-btn" (click)="togglePassword()" type="button">
        <img
          [src]="showPassword ? '/login-register/open-eye.svg' : '/login-register/slash-eye.svg'"
          alt="Mostrar/Ocultar contraseña"
          class="eye-icon">
      </button>
    </div>
  </div>

  <button (click)="onSubmit()" class="submit-btn">
    {{ 'LOGIN.ENTER' | translate }}
  </button>

  <p class="register-link" (click)="goToRegister()">
    {{ 'LOGIN.REGISTER' | translate }}
  </p>

</div>
